/* Remove default page margins for the entire body element */
body {
    margin: 0;
}

.header {
    font-family: 'Patrick Hand SC', cursive;
    padding: 75px 25px 65px 400px 
}

.content {
    font-family: 'VT323', monospace;
    background-color: rgb(255, 94, 0);
    padding: 50px 560px 90px 560px 
}

.end {
    background-color: rgb(227, 250, 215);
    padding: 0.1px 400px 5px 900px 
}

.name {
    font-family: 'Patrick Hand SC', cursive;
    color: blue;
    font-size: 3rem;
    padding: 20px 450px;
}

.description {
    padding: 0px 480px; 
}

.greeting {
    font-family: "Gill Sans", sans-serif;
    color: white;
    font-size: 2rem;
}

.skill {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    font-style: oblique;
}

.button {
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: "sans-serif";
    transition-duration: 0.5s;
}

.soccer1 {
    position: absolute;
    width: 100px;
    top: 100px;
    right: 650px;
}

.soccer2 {
    position: absolute;
    width: 100px;
    top: 100px;
    left: 700px;
}

.jasonimg {
    width: 100px;
    border-radius: 8px;
}

.programming {
    width: 150px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 50%;
}

.bus {
    width: 150px;
}

.messi {
    width: 150px;
}

.bottom-line {
    margin: 0px;
    border: 1px solid;
    border-style:inherit;
    height: 5px;
    background-color: lightblue;
    
}

.card{
    background-color:bisque;
    box-shadow: 1px 2px 3px 0 black;
    transition: 0.3s;
    width: 40%;
    margin: 100px 10px 200px 580px;
    height: 400px;
}

#contact {
    background-color:blanchedalmond;
    text-align: center;
    margin: 50px 50px 50px 50px;
}

#input_name {
    width: 200px;
    height: 25px;
}

#input_email {
    width: 200px;
    height: 25px;
}

#input_text {
    width: 200px;
    height: 40px;
}

.Submit {
    width: 100px;
}

.form-name {
    padding-top: 70px;
}

.form-email { 
    padding-top: 40px;
}

.form-message {
    padding-top: 40px;
}

.Submit {
    margin-top: 40px;
    border-radius: 20px;
}

.contact_name {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 60px;
}

.address {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
}